body {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

nav#navpage {
	width: 100%;
	height: 40px;
	margin: 0;
	background-color: rgb(184, 218, 247);
}

nav#navpage a {
	width: 150px;
	height: 100%;
	display: block;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	cursor: pointer;
}

nav#navpage a:hover {
	background-color: rgb(188, 208, 250);
}

nav#navpage a.selected {
	background-color: rgb(174, 198, 250);
}

.event-col {
	min-width: 300px;
}

.bet-col, .odds-col, .result-col {
	min-width: 140px;
}

a {
	text-decoration: none;
}

#app h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

#app .sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
#app .gwt-DialogBox {
	width: 400px;
}

#app .dialogVPanel {
	margin: 5px;
}

#app .serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#app #closeButton {
	margin: 15px 6px 6px;
}

.disabler {
	margin-left: 20px;
	padding: 10px;
	margin-top: 0px;
	border: 1px solid black;
	position: absolute;
	background-color: grey;
	opacity: 0.3;
	width: 177px;
	height: 86px;
	
	background-image: url('img/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.device {
	margin-left:20px;
	padding:10px;
	margin-top:0px;
	border: 1px solid black;
	display: inline-block;
	height: 86px;
	width: 177px;
}
.border-box{
	border:1px solid black;
}
.checkup_button a {
	padding:5px;
	border: 1px solid #ccc;
	color: black;
	text-decoration: none;
	display:inline-block;
}

.emergency_button a {
	padding:5px;
	background-color: red;
	display:inline-block;
	color: white;
	text-decoration: none;
}

.stop_button a {
	padding:5px;
	margin-top:10px;
	display:inline-block;
	border: 1px solid #ccc;
	color: black;
	text-decoration: none;
}

.medical_analysis{
	margin-right:10px;
	float:right;
	width:300px;
}

.failure_chart{
	
}

.decision{
	margin-left:5px;
}
.drugDiv{
	float:right;
}

.device_title{
	margin-left:15px;
	padding-bottom:2px;
	margin-bottom:2px;
}
.alarm{
	margin-left:30px;
	bottom:30px;
	position:absolute;
	color:#CCC;
	font-size:300%;
}

#failure{
	display:none;
}